.modal-content {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
    border-radius: 0.5rem;
}

.modal-header {
    border-bottom: 1px solid #444;
}

.modal-title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.modal-body .form-control {
    background-color: #3a3a3a;
    border: 1px solid #555;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.modal-body .form-control:focus {
    background-color: #3a3a3a;
    border-color: #888;
    box-shadow: none;
}

.btn-primary-custom {
    background-color: #555;
    border-color: #555;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary-custom:hover {
    background-color: #666;
    border-color: #666;
}

.link-switch-form {
    color: #aaa;
    cursor: pointer;
    text-decoration: underline;
}

.link-switch-form:hover {
    color: #fff;
}

.show-password-toggle {
    background-color: #3a3a3a !important;
    /* Match input field color */
    border: 1px solid #555 !important;
    color: #fff !important;
    border-left: none !important;
}

.show-password-toggle:hover {
    background-color: #d8d8d8 !important;
}

#signup-form,
#forgot-form {
    display: none;
}