@import url(hero.css);
@import url(services.css);
@import url(portfolio.css);
@import url(about.css);
@import url(contact.css);
@import url(policy.css);
@import url(terms.css);
@import url(log-in.css);
@import url(booking.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: 'Georgia', serif;
    background-color: #333333;
    color: #333;
}


.dark-footer {
    background-color: #333;
    color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bs-font-heading);
}