@import url(hero.css);
@import url(services.css);
@import url(portfolio.css);
@import url(about.css);
@import url(contact.css);
@import url(policy.css);
@import url(terms.css);

body {
    font-family: 'Georgia', serif;
    background-color: #f8f8f8;
    color: #333;
}


.dark-footer {
    background-color: #333;
    color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bs-font-heading);
}