 .modal-content {
     background-color: var(--secondary-dark);
     color: #d1d5db;
 }

 .modal-header,
 .modal-footer {
     border-color: #4b5563;
 }

 /* Custom style for package items */
 .package-item {
     border-bottom: 1px solid #4b5563;
 }

 .package-item:last-child {
     border-bottom: none;
 }

 .package-item:hover {
     background-color: rgba(255, 255, 255, 0.05);
     cursor: pointer;
     transition: background-color 0.2s;
 }

 /* Input/Form styling */
 .form-control,
 .form-select,
 .input-group-text {
     background-color: var(--tertiary-dark);
     border-color: var(--tertiary-dark);
     color: #d1d5db;
 }

 .form-control:focus,
 .form-select:focus {
     background-color: var(--tertiary-dark);
     border-color: #60a5fa;
     color: #d1d5db;
     box-shadow: 0 0 0 0.25rem rgba(96, 165, 250, 0.25);
 }