.modal-content {
    background-color: var(--secondary-dark);
    color: #d1d5db;
}

.modal-header,
.modal-footer {
    border-color: #4b5563;
}

/* Input/Form styling */
.form-control,
.form-select,
.input-group-text,
.form-check-input:not(:checked) {
    background-color: var(--tertiary-dark);
    border-color: var(--tertiary-dark);
    color: #d1d5db;
}

.form-check-input:checked {
    background-color: #60a5fa;
    /* Blue for primary theme */
    border-color: #60a5fa;
}

.form-control:focus,
.form-select:focus {
    background-color: var(--tertiary-dark);
    border-color: #60a5fa;
    color: #d1d5db;
    box-shadow: 0 0 0 0.25rem rgba(96, 165, 250, 0.25);
}