@import url(booking.css);
@import url(pricing.css);
@import url(dashboard.css);
@import url(settings.css);

:root {
    --primary-dark: #1f2937;
    --secondary-dark: #374151;
    --tertiary-dark: #4b5563;
}

body {
    background-color: var(--primary-dark);
    color: #d1d5db;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    background-color: #111827;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.card {
    background-color: var(--secondary-dark);
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.4);
    border-radius: 0.75rem;
    /* Rounded corners */
}